.ConvertFormPage {
    text-align: center;
}

.ConvertFormPage h1, h2 {
    font-family: 'Berkshire Swash', 'Pattaya', sans-serif;
}

.ConvertFormPage h1 {
    font-size: 35px;
}

.ConvertFormPage p {
    margin: 10px;
}

.ConvertFormPage h2 {
    font-size: 25px;
    border: solid 2px #63E3AA;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.ConvertFormPage h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 23px;
    margin-bottom: 0px;
}

.ConvertFormPage p, select {
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
}

.ConvertFormPage select {
    border: 2px solid #63E3AA;
    width: 80%;
    padding: 5px;
    color: #464F51;
    font-size: 20px;
    margin: 0 auto;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.radio_container {
    margin: 10px;
}

.radio_container input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio_container label {
    display: inline-block;
    background-color: #ddd;
    padding: 4px 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 5px;
}

.radio_container label:hover {
    background-color: #dfd;
}

.radio_container input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.radio_container input[type="radio"]:checked + label {
    background-color: #CBF6E3;
    border-color: #63E3AA;
}

.scroll-group {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.scroll-item {
    flex: 1;
    margin:0px;
}
