.Home {
    text-align: center;
}

.Header {
    padding: 40px;
}

.Home h1 {
    font-size: 60px;
    font-family: 'Berkshire Swash','Pattaya', sans-serif;
    margin-bottom: 0px;
}

.Home h2, p, label, select {
    font-family: 'Roboto Slab', serif;
}

.Home p {
    color: #464F51;
    font-size: 20px;
}

.Form {
    margin-top: 30px;
    margin-bottom: 40px;
}
.Home label {
    font-size: 25px;
}
.Home select {
    border: 2px solid #63E3AA;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    color: #464F51;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.Home button {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    background-color: #CBF6E3;
    color: black;
    padding: 8px;
    border: 3px solid #63E3AA;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.Home button:hover {
    background-color: white;
}

.Home button:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.item {
    flex: 1;
    margin: 5px;
    padding: 10px;
}

.item-double {
    flex: 2;
    margin: 5px;
    padding: 10px;
}

.item img {
    width: 60%;
    margin: 0;
    padding: 0;
}

@media all and (min-width: 800px) {

    .Home h1 {
        font-size: 90px;
    }
    .group{
        flex-direction: row;
    }
}