.Nav {
    background-color: #CBF6E3;
    padding: 4% 0;
}

.Nav p {
    margin-left: 40px;
    font-family: 'Berkshire Swash', 'Pattaya', sans-serif;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Nav a {
    text-decoration: none;
}

.Nav img{
    height: 100px;
}