.Nav {
    background-color: #CBF6E3;
    padding: 4% 0;
}

.Nav p {
    margin-left: 40px;
    padding: 10px;
    font-family: 'Berkshire Swash', 'Pattaya', sans-serif;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
}

.Nav a {
    text-decoration: none;
}

.Nav img {
    height: 100px;
}